<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>

    <title>{% block title %}{{ title|default('page_title'|trans({}, 'frontend')) }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    {% endblock %}

</head>
<body>

{% block body %}{% endblock %}

{% block javascripts %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/validation?t={{ date().timestamp }}"></script>
{% endblock %}

</body>
</html>
